In [37]:
 import pandas as pd
 import src.utilities as utils
 from pathlib import Path
 
 root = utils.get_project_root()
 config = utils.read_config()
 
df_ds = pd.read_csv(Path.joinpath(root, config['data']['processed_to']))

In [38]:
df_ds.head()

,Unnamed: 0,text,target,processed
0,0,วันๆ นี่คุยกะหมา แมว หมู ไก่ ม้า ควาย มากกว่าค...,0,"['วัน', 'นี่', 'คุย', 'กะ', 'หมา', 'แมว', 'หมู..."
1,1,หล่อมากกก หล่อวัวตายควายล้มกันเลยทีเดียวววว,0,"['หล่อ', 'มาก', 'xxrep', 'หล่อ', 'วัว', 'ตาย',..."
2,2,สิวเหี้ยไรขึ้นหลังหู เสียชาติเกิดมั้ย เกิดมามั...,0,"['สิว', 'เหี้ย', 'ไร', 'ขึ้น', 'หลัง', 'หู', '..."
3,3,อ่ะ ป่วยก็ป่วย งานจ้างก็ต้องทำ งานเรียนก็ต้องท...,0,"['อ่ะ', 'ป่วย', 'ก็', 'ป่วย', 'งาน', 'จ้าง', '..."
4,4,นี่ก็เพิ่งรู้ว่า เกิดชาตินี้ชาติเดียว เป็นทั้ง...,1,"['นี่', 'ก็', 'เพิ่ง', 'รู้', 'ว่า', 'เกิด', '..."

In [39]:
df_ds.columns.tolist()

['Unnamed: 0', 'text', 'target', 'processed']

In [40]:
df_ds.head()

,Unnamed: 0,text,target,processed
0,0,วันๆ นี่คุยกะหมา แมว หมู ไก่ ม้า ควาย มากกว่าค...,0,"['วัน', 'นี่', 'คุย', 'กะ', 'หมา', 'แมว', 'หมู..."
1,1,หล่อมากกก หล่อวัวตายควายล้มกันเลยทีเดียวววว,0,"['หล่อ', 'มาก', 'xxrep', 'หล่อ', 'วัว', 'ตาย',..."
2,2,สิวเหี้ยไรขึ้นหลังหู เสียชาติเกิดมั้ย เกิดมามั...,0,"['สิว', 'เหี้ย', 'ไร', 'ขึ้น', 'หลัง', 'หู', '..."
3,3,อ่ะ ป่วยก็ป่วย งานจ้างก็ต้องทำ งานเรียนก็ต้องท...,0,"['อ่ะ', 'ป่วย', 'ก็', 'ป่วย', 'งาน', 'จ้าง', '..."
4,4,นี่ก็เพิ่งรู้ว่า เกิดชาตินี้ชาติเดียว เป็นทั้ง...,1,"['นี่', 'ก็', 'เพิ่ง', 'รู้', 'ว่า', 'เกิด', '..."

In [41]:
y_to = df_ds['target'].to_numpy()

In [46]:
y_to.dtype

dtype('int64')

In [43]:
df_ws = pd.read_csv(Path.joinpath(root, config['data']['processed_ws']))

In [44]:

y_ds = df_ws['target'].astype('category').cat.codes
y_ds = y_ds.to_numpy()

In [47]:
y_ds.dtype

dtype('int8')